/* Element Selectors */
body{
    margin:0;
    font-family: 'Libre Baskerville', serif;
}

form {
    position: relative;
    width: 55vw;
    margin: auto auto 20px auto;
    background: #fff;
    margin-top: 10vh;
    padding: 25px;
    padding-bottom: 0;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(138, 137, 137);
    text-align: center;
  }
  @media(max-width:576px){
      form{
          width:75vw;
      }
  }
  form input,
  form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form button {
    position: relative;
    
    bottom: -15px;
    background: #274c6b;
    color: #fff;
    /* border: 1px solid rgb(167, 154, 154); */
    border-radius: 50%;
    width: 46px;
    height: 46px;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
    cursor: pointer;
    outline: none;
  }
  header{
      color:rgb(218, 218, 218);
      background:#000000;
      font-family: 'Libre Baskerville', serif;
      box-shadow: 1px 5px 16px black;
  }
  footer{
    color:rgb(218, 218, 218);
    background:#000000;
    font-family: 'Libre Baskerville', serif;
   font-size:1rem;
   height:30vh;
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.8);
}

/*  */
  /* PROJECT-SPECIFIC */
/*  */
.gallery-br{
background: url("/Images/br-desktop.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main-content{
    height:85vh;
    padding:50px;
}
@media(max-width:576px){
    .gallery-br{
        background:url("Images/br-mobile.png")
    }
}
/* Font */
.libre{
font-family: 'Libre Baskerville', serif;
}
.logo-format{
    max-width:225px;
    height:200px;
    border-radius: 20%;
   
}
.header-text{
    font-size:2.2rem;
   padding-bottom: 10px;;
    
}
.md-text{
  font-size:1.7rem;
  padding:15px;
  /* font-style: italic; */
}

/*  */
/* COLORS */
/* Colors. Backgrounds */
.br-gray{
    background:#353738
}
.br-gradient-gray{
    background: linear-gradient(128deg, rgb(71, 71, 71) 37%, rgb(44, 44, 44) 65%, rgb(42, 42, 42)1%);
}
.br-white{
    background:#fff;
}
.br-black{
    background:#000000
}
.br-gradient-black{
    background: linear-gradient(128deg, rgb(32, 32, 32) 37%, rgb(26, 27, 27) 60%, rgb(8, 8, 8)1%);
}
.br-gradient-aqua{
    background: linear-gradient(128deg, #77e0e7 37%, #5eb9c0 75%, #5fbdc3 1%);
}
/*  */
/* colors.element color */
.white{
    color:#fff
}
.black{
    color:#000000
}
.aqua{
    color:#5eb9c0
}
/*  */
  /* Positioning reusables*/
  .centered{
    text-align: center;
  }
  .center-div{
    width:50%;
    margin: auto;
  }
  .align-l{
    text-align:left;
  }
  .padding {
    padding: 40px; 
  }
  .pad-b{
    padding-bottom:100px;
  }
  .pad-b-sm{
    padding-bottom:25px;
  }
  .pad-t{
      padding-top:40px;
  }
  .pad-t-sm{
    padding-top: 15px;;
  }
  .top-space{
    margin-top:12vh;
    }
    .top-space-sm{
      margin-top:5vh;
    }
    .bottom-space{
      margin-bottom:12vh;
      }
    
    .rm-mg-row{
      margin: 0;
    }
    
    /* center-wrap is applied to a div that wraps elements you want centered. */
    .center-wrap{ 
      width:50%;
      margin: auto;
      padding: 20px;;
      text-align: center;
    }
    .no-margin{
      margin:0;
    }
   
    .margin-all{
      margin:20px;
    }
    .margin-all-sm{
      margin:8px;
    }
    /* Shading & Polish */
  .theGoodShading{
    box-shadow: 1px 5px 12px black;
    text-shadow: 0 1px 1px black;
  }
  .headerShading{
    box-shadow: 1px 5px 16px black;
    text-shadow: 0 1px 1px black;
  }
  .footerShading{
    box-shadow: 1px 5px 32px black;
    text-shadow: 0 1px 1px black;
  }

  /*  */
  /* Button Libr */
  .pill{
    font-family: 'Karla', sans-serif;
    color: #fff;
  text-shadow: 0 0 1px black;
    border-radius: 10000px;
    cursor: pointer;
    border:none;
    box-shadow: 1px 5px 12px black;
    text-shadow: 0 1px 1px black;
    overflow: hidden;
  }
  .add-btn{
    position: relative;
    padding:20px;
    margin:15px;
    background: #274c6b;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.5);
  }
  .save-btn{
    position: relative;
    bottom:5px;
    padding:20px;
    margin:15px;
    border: none;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right top, from(#446682), to(#2d506b));
    background: rgb(68,102,130);
  background: linear-gradient(128deg, rgba(68,102,130,1) 37%, rgba(54,88,116,1) 60%, rgba(45,80,107,1) 71%);
    color: #fff;
    border:none;
    box-shadow: 1px 3px 9px black;
    text-shadow: 0 1px 1px black;
  }
  
  .save-btn-sm{
    position: relative;
    padding:2px;
    margin:3px;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    /* background: -webkit-gradient(linear, left top, right top, from(#446682), to(#2d506b)); */
    /* background: rgb(68,102,130); */
  /* background: linear-gradient(128deg, rgba(68,102,130,1) 37%, rgba(54,88,116,1) 60%, rgba(45,80,107,1) 71%); */
    color: #fff;
   
    border:none;
    box-shadow: 1px 3px 9px black;
    text-shadow: 0 1px 1px black;
  }
  
  .circle{
      font-family: 'Karla', sans-serif;
      color: #fff;
    text-shadow: 0 0 1px black;
    padding: 5px;
    height: 50px;
    cursor: pointer;
    border:none;
    
    box-shadow: 1px 1px 6px black;
    text-shadow: 0 1px 1px black;
    border-radius: 50%;
  }
/*  */
  /* UI Messages */
  /*  */
  .infoMessage{
    text-align:center;
    background-color: #4d946abe;
    color:#fff;
    margin:15px auto;
    padding:8px;
    border-radius:7px;
    width:80vw 
  }
  .successMessage{
    text-align: center;
    background-color:#4d946ae0;
    border-radius:7px;
    color: white;
    width: 50vw;
    padding:15px;
    position:relative;
    left:24.9%;
    /* margin:15px auto; */
    /* border-radius: 50%; */
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    border-radius:7px;
  }
  .errMessage{
    text-align: center;
    background-color:#c76b79d7;
    border-radius:7px;
    color: white;
    width: 50vw;
    padding:15px;
    position:relative;
    left:24.9%;
    margin-top:40px;
    margin-bottom: 10px;
    /* border-radius: 50%; */
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    border-radius:7px;
  }
  